/*
 * Sections for the index page
 */
.section {
	margin-bottom: 50px;
	padding: 35px 25px;
	background-color: #0c0c0c;
}

.section h2 {
	margin-bottom: 30px;
}

/*
 * Previews
 */
.preview {
	display: inline-block;
	position: relative;
	margin: 10px;
	background-color: #1a1a1a;
	width: 300px;
	height: 300px;
}

.preview .preview_image {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 46px;
	background-position: center;
	background-size: cover;
}

.preview .preview_text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 15px;
	text-align: center;
	background-color: #1a1a1a;
	color: inherit;
}

/*
 * Boxes on the right side for information
 */
.box {
	margin: 0;
	padding: 30px;
	background-color: #0c0c0c;
}

.box.title {
	position: relative;
	background-color: #282828;
	text-align: center;
}

.box.title:before {
	position: absolute;
	top: 32px;
	left: -12px;
	content: '';
	background-color: inherit;
	transform: rotate(45deg);
	width: 24px;
	height: 24px;
}

.box.title h2 {
	color: #eee !important;
}

/*
 * Media Queries
 */
@media only all and (max-width: 1150px)
{
	.box.title:before {
		top: -12px;
		left: 48%;
	}
}